.url-mapping-window {

  input.col {
    width: 45%;
  }

  .col {
    display: inline-block;
    vertical-align: middle;

    &.protocol {
      margin: 0.2em 0.5em 0 0;

      font-size: 10px;
      line-height: 0.8rem;
      background-color: #f0f0f0;
      border: 1px solid #888;
      border-radius: 2px;
      padding: 2px;
    }

    &.mask {
      width: 40%;
    }

    &.new-url {
      width: 45%;
    }
  }

  .seperator {
    width: 5%;
    text-align: center;
  }
}
