.url-mapping-window {

  .url-mapping-header {
    height: 220px;
    padding-left: 10px;
    padding-right: 10px;

    .window-close-button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .url-mapping-footer {
    height: calc(100% - 260px);
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid #e0e0e0;

    .collection {
      margin: 0;
      border: 0;
    }
  }

  input.col {
    width: 45%;
  }

  .col {
    display: inline-block;
    vertical-align: middle;

    &.protocol {
      margin: 0.2em 0.5em 0 0;

      font-size: 10px;
      line-height: 0.8rem;
      background-color: #f0f0f0;
      border: 1px solid #888;
      border-radius: 2px;
      padding: 2px;
    }

    &.mask {
      width: 40%;
    }

    &.new-url {
      width: 45%;
    }
  }

  .seperator {
    width: 5%;
    text-align: center;
  }
}

.new-mapping {
  background-color: $lightgray-light;
  border: 1px solid $lightgray-dark;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;

  h1 {
    margin: 0;
    line-height: inherit;
    font-size: 21px;
  }

  .description {
    color: $darkgray-light;
    margin-top: 5px;
  }

  .input-file {
    cursor: pointer;
    border: 1px dotted rgba(0,0,0,0.26);
    padding: 0 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .btn,
  .btn-flat {
    height: 32px;
    line-height: 32px;
    padding: 0 1.25rem;
  }

  .btn + .btn,
  .btn + .btn-flat {
    margin-left: 5px;
  }
}
