language: node_js
node_js:
- '0.12'
- iojs
before_deploy: 'npm run package && npm run zip-binaries'
deploy:
  provider: releases
  api_key:
    secure: E7uiQ91P9Q2/cRbhph/h80MJqnrxXyRaPP4B51yrzreZ3f15KxyjDBoUW/vK615BAv9EVRmYN82nr3GSPGmniQgj0Q5ZOH4ClGtdRLc0iAEL4QhtxvmJLPOoIgVtfCmuKS2ZcDjcGw3P3cd+l7zkCY1lK/Ik+CSnZzyx3on4y9OxWjIaSsH4KtMS9DLARi3S9BQqztntt5YMTnaVhOhs0v4zBflemzTGFKVQwnpLh22nhuE9nfF7Ef2dGGzQtjHCkbBRlpxr4tdMkP/S553UVcGC6gMQmQO7KGWFbsEgBc86c2Ie1EM4t3hrAzNWdrqQ4LUJOh1OJ7nW8vs5jrIZhRCQ00Coaab250goz1YpwsX5BT6b8sBabILhIqaGi8MxlSYKoanIaUNwqmRMRI1vQno/ba4ryCK2ztI4Qv0Ts1gkCiT/XL2AQBfY7zqyhrG8sTigyGzTclWBYBh1r+erRt7CUwF9ebuz3U3iBBlKNsRiVPz84UK9q1kZbuHkE8sBVqapXwqzY0C2jlVxzQIibgTynaeV5xn0acsYmtPCkTM5+2ww5FWzyL3gz6cwDSNTUah1iy6WUKl4lMJ0UMN4l+b+7F+xN61pw/LeQPJ7pTrRbQjrE7pOkUnk5MtvwXSo2RvLpS8bb0FwMhXDin/SOzyks4b0jDawQjfzQ4O2B9E=
  file:
    - James-darwin-x64.zip
    - James-linux-ia32.zip
    - James-linux-x64.zip
    - James-win32-ia32.zip
    - James-win32-x64.zip
  skip_cleanup: true
  on:
    tags: true
