$fa-font-path: "fonts" !default;

@import 'colors';
@import 'components/titlebar';
@import 'components/footer';
@import 'components/main-content';
@import 'components/requests';
@import 'components/context-menu';
@import 'components/inspect-request';
@import 'components/windows/url-mapping';
@import '../node_modules/font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.fa {
  padding-right: 5px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.label {
  display: inline-block;
  color: $white;
  padding: 2px 6px;
  border-radius: 7px;
  margin-left: 5px;

  background: $darkgray-dark;

  &.tracking {
    background: $sunflower-light;
  }

  &.cdn {
    background: $pinkrose-dark;
  }

  &.mapped {
    background: $sunflower-dark;
  }

  &.mapped-inactive {
    padding: 0 4px;
    border: 2px dotted $sunflower-dark;
    background: $white;
    color: $sunflower-dark;
  }

  &.default {
    background: $grapefruit-light;
  }
}

.complete-url {
  display: inline-block;
  width: 100%;
  .hostname {
    color: $grapefruit-dark;
  }
}

$windowWidth: 600;
$windowHeight: 400;

.window {
  background: $white;
  //color: $white;
  position: fixed;
  //width: #{$windowWidth}px;
  //height: #{$windowHeight}px;
  z-index: 1000;

  //left: calc(50% - #{$windowWidth / 2}px);
  //top: calc(50% - #{$windowHeight / 2}px);

  left: 20px;
  right: 20px;
  top: 70px;
  bottom: 20px;

  padding: 10px;
  border: 6px solid $lightgray-dark;

  box-shadow: 0 0 30px;

  .close-button {
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    background-color: $lightgray-dark;
    padding: 7px;
    z-index: 1000;
    color: $darkgray-dark;
    padding-left: 13px;
    padding-top: 4px;

    i {
      padding: 0;
    }
  }
}

strong {
  font-weight: bold;
}

.open-browser {
  height: 64px;
  width: 64px;
  background-size: 100%;
  display: inline-block;
  cursor: pointer;

  &.chrome {
    background-image: url('./images/chrome_128x128.png');
  }

  &.firefox {
    background-image: url('./images/firefox_128x128.png');
  }
}

.hidden {
  display: none;
}
