.throttle {
  display: inline;

  // need to provide [type="text"] for added specificity, otherwise materialize-css defaults are prioritized
  input[type="text"] {
    width: 50px;
    height: inherit;
    margin: 0 5px;
    padding-bottom: 3px;
    font-size: inherit;
    text-align: right;
  }

  input[type="text"]:focus {
    margin-bottom: 0;
  }
}
