@import 'footer-throttle';

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: $darkgray-dark;
  font-size: 11px;
  color: $white;
  cursor: default;
  user-select: none;
  overflow: hidden;
  padding: 0 15px;
  -webkit-user-select: none;

  button {
    background: none;
    border: none;
    padding: 0;
  }

  .cache-button {
    display: inline;
  }

  .request-count {
    display: inline;
    height: 13px;
  }

  .proxy-status {
    display: inline;
    float: right;

    @media(max-width: 550px) {
      .message {
        display: none;
      }
    }

    &.with-info {
      cursor: pointer;
    }

    &.working i {
      color: $grass-dark;
    }

    &.no_https i {
      color: $sunflower-dark;
    }

    &.generic_error i, &.error_address_in_use i {
      color: $grapefruit-dark;
    }
  }
  
   .update-status {
     display: inline;
     float: right;
  
     &.has-action {
       cursor: pointer;
     }
  
     &.ready i {
       color: $grass-dark;
     }
  
     &.error i {
       color: $grapefruit-dark;
     }
   }
}

.footer > * {
  margin-left: 25px;
}

.footer > *:first-child {
  margin-left: 0;
}
