@import 'footer-throttle';

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background-color: $darkgray-dark;
  padding: 6px;
  font-size: 11px;
  color: #fff;

  button {
    background: none;
    border: none;
  }

  .request-count {
    display: inline;
    height: 13px;

    button {
      padding: 0;
      margin-left: 8px;
      margin-right: 5px;
    }
  }

  .https-status {
    display: inline;
    float: right;

    &.working i {
      color: #55dd33;
    }

    &.partial i {
      color: #bbaa44;
    }

    &.failed i {
      color: #FF4444;
    }
  }
}

.footer > *:not(:first-child) {
  margin-left: 5%;
}
