.throttle {
  display: inline;

  input {
    width: 50px;
    height: inherit;
    margin: 0 5px;
    padding-bottom: 3px;
    font-size: inherit;
    text-align: right;
  }

  input:focus {
    margin-bottom: 0;
  }
}
