.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background-color: $darkgray-dark;
  padding: 6px;
  font-size: 11px;
  color: #fff;

  button {
    background: none;
    border: none;
  }

  .request-count {
    display: block;
    position: absolute;
    right: 0;
    top: 7px;

    button {
      padding: 0;
      margin-left: 8px;
      margin-right: 5px;
    }
  }
}
