.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background-color: $darkgray-dark;
  padding: 6px;
  font-size: 11px;
  color: #fff;

  button {
    background: none;
    border: none;
  }

  .request-count {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
  }
}
