.inspect-request {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba($lightgray-light, 0.9);

  .toolbar {
    float: right;
    margin-top: -40px;
    padding: 0 5px;

    .toolbar-action {
      display: inline-block;
      background: darken($darkgray-light, 10%);
      color: $white;
      height: 40px;
      border-radius: 8px 8px 0 0;
      margin-left: 3px;
      padding: 10px;
      transition: all 250ms ease-out;

      &.primary {
        background: $darkgray-light;
      }

      &:hover {
        background: lighten($darkgray-light, 10%);
        cursor: pointer;
      }
    }
  }

  .box-header {
    color: $white;
    background: $darkgray-light;
    height: 40px;
    padding: 7px;

    > div {
      padding-top: 3px;
      float: left;
    }

    .title {
      padding-left: 4px;
      font-weight: bold;
    }

    .actions {
      text-align: right;
      float: right;

      .action {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .box-tabs {
    $tab-height: 32px;
    margin: 0;
    padding: 0;
    height: $tab-height;
    font-size: 12.5px;
    color: rgba($white, .6);
    background: $darkgray-dark;

    li {
      display: inline-block;
      list-style-type: none;
      height: $tab-height;
      line-height: $tab-height;
      padding: 0 12px;
      cursor: pointer;

      &:hover {
        color: $white;
      }

      &.active {
        color: $white;
        border-bottom: 3px solid $grapefruit-light;
      }
    }
  }

  .box-body {
    overflow-y: scroll;
    /* max-height set via component */
  }

  section {
    padding: 10px;
  }

  code,
  .complete-url,
  .request-metadata {
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 10px;

    ul {
      margin: 0;
    }
  }

  .mapped-url {
    display: block;
    color: $darkgray-light;
  }
}
