.requests {

  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  .request-inner {
    padding: 5px;
    overflow: hidden;
  }

  .request {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid $lightgray-light;

    .complete-url {
      width: calc(100% - 165px);
      white-space: nowrap;

      .fade-out {
        position: absolute;
        right: 0;
        display: block;
        width: 180px;
        top: 0;
        height: 30px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
      }
    }

    &.request-active .complete-url {
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      background-color: $lightgray-light;
      border-bottom: 2px solid $lightgray-dark;
    }

    .property {

      display: inline-block;
      text-align: center;
      width: 50px;
      margin-right: 5px;

      .fa {
        padding-right: 0;
        font-size: 16px;
      }

      &.method {
        background: $darkgray-dark;
        color: $white;
      }
    }

    .labels {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }
}
