.requests {
  .request-inner {
    overflow: hidden;
  }

  .request {
    border-bottom: 2px solid $lightgray-light;

    .complete-url {
      width: calc(100% - 170px);
      white-space: nowrap;

      .fade-out {
        position: relative;
        float: right;
        margin-top: -21px;

        width: 180px;
        height: 30px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%);
      }
    }

    &.request-active {
      .complete-url,
      .status-code,
      .time {
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $lightgray-light;
      border-bottom: 2px solid $lightgray-dark;
    }

    .property {

      display: inline-block;
      text-align: center;
      width: 50px;
      margin-right: 5px;

      .fa {
        padding-right: 0;
        font-size: 16px;
      }

      &.method {
        margin-left: 5px;
        background: $darkgray-dark;
        color: $white;
      }
    }

    .labels {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }
}
