.requests {

  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;

  .request {
    padding: 5px;
    border-bottom: 2px solid $lightgray-light;
    position: relative;

    .complete-url {
      width: calc(100% - 165px);
    }

    &:hover {
      cursor: pointer;
      background-color: $lightgray-light;
      border-bottom: 2px solid $lightgray-dark;
    }

    .property {

      display: inline-block;
      text-align: center;
      width: 50px;
      margin-right: 5px;

      .fa {
        padding-right: 0;
        font-size: 16px;
      }

      &.method {
        background: $darkgray-dark;
        color: $white;
      }
    }

    .labels {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }
}
