@import '_browser.scss';

.main-content {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 30px;
  right: 0;
  float: left;

  .header {
    margin: 10px;
    .search {
      @extend .card;
      margin: 0;
      padding: 0;

      input[type="text"] {
        margin: 0;
        border: 0;
        box-shadow: none;
        height: 25px;
        padding: 5px 15px;
      }
    }
  }

  h1 {
    margin-top: 0;
  }

  .setup-instruction {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    text-align: center;
    width: 400px;
    background: $lightgray-light;
    color: $darkgray-light;
    padding: 20px;
    border-radius: 8px;
    z-index: 999;

    h2 {
      font-size: 24px;
      margin: 0;
    }

    h3 {
      font-size: 18px;
      margin: 0;
    }
  }
}
