@import '_browser.scss';

.main-content {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 30px;
  right: 0;

  .header {
    margin: 10px;
    .search {
      @extend .card;
      margin: 0;
      padding: 0;

      input[type="text"] {
        margin: 0;
        border: 0;
        box-shadow: none;
        height: 25px;
        padding: 5px 15px;
      }
    }
  }

  h1 {
    margin-top: 0;
  }

  .setup-instructions {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .setup-instructions-wrapper {
    text-align: center;
    width: 400px;
    margin: 5% auto;
    background: $lightgray-light;
    color: $darkgray-light;
    padding: 20px;
    border-radius: 8px;

    h2 {
      font-size: 24px;
      margin: 0;
    }

    h3 {
      font-size: 18px;
      margin: 0;
    }
  }

  .browsers {
    text-align: left;
    margin-top: 15px;

    .open-browser {
      background-color: $lightgray-dark;
      border: 1px solid $mediumgray-light;
      width: 100%;
      padding: 5px 15px;

      &:hover {
        background-color: $mediumgray-light;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .browser-icon {
      width: 32px;
      height: 32px;
    }
    .browser-info {
      display: inline-block;
      margin-left: 15px;
    }
    .browser-name {
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
