$fa-font-path: "~font-awesome/fonts/" !default;
$roboto-font-path: "~materialize-css/dist/fonts/roboto/" !default;
$lato-font-path: '../fonts';

@import '~font-awesome/scss/font-awesome';
@import '~materialize-css/sass/materialize';

@import 'colors';
@import 'fonts';
@import 'components/titlebar';
@import 'components/footer';
@import 'components/main-content';
@import 'components/requests';
@import 'components/context-menu';
@import 'components/inspect-request';
@import 'components/errors';
@import 'components/windows/url-mapping';;

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.fa {
  padding-right: 5px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.label {
  display: inline-block;
  color: $white;
  padding: 2px 6px;
  border-radius: 7px;
  margin-left: 5px;

  background: $darkgray-dark;

  &.tracking {
    background: $sunflower-light;
  }

  &.cdn {
    background: $pinkrose-dark;
  }

  &.mapped {
    background: $sunflower-dark;
  }

  &.mapped-inactive {
    padding: 0 4px;
    border: 2px dotted $sunflower-dark;
    background: $white;
    color: $sunflower-dark;
  }

  &.default {
    background: $grapefruit-light;
  }
}

.complete-url {
  display: inline-block;
  width: 100%;
  .hostname {
    color: $grapefruit-dark;
  }
}

$windowWidth: 600;
$windowHeight: 400;

.window {
  background: $white;

  box-sizing: border-box;
  z-index: 1000;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-shadow: 0 0 30px;
}

strong {
  font-weight: bold;
}

.hidden {
  display: none;
}
